{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load static %}

{% block custom_header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'teamshifts/teamshifts.css' %}">
{% endblock %}

{% block title %}{% trans "TeamShifts" %} :: {{ request.event.name }}{% endblock %}

{% block nav %}
    <li>
        <a href="{% url 'plugins:teamshifts:dashboard' organizer=request.organizer.slug event=request.event.slug %}"
           {% if url_name == 'dashboard' %}class="active"{% endif %}>
            <span class="fa fa-fw fa-users"></span>
            <span class="sidebar-text">{% trans "TeamShifts" %}</span>
        </a>
    </li>

    <li>
        <a href="{% url 'plugins:teamshifts:roles' organizer=request.organizer.slug event=request.event.slug %}"
           class="has-children {% if url_name == 'roles' %}active{% endif %}">
            <span class="fa fa-fw fa-cogs"></span>
            <span class="sidebar-text">{% trans "Setup" %}</span>
        </a>
        <a class="arrow" href="#" data-toggle="collapse" data-target="#collapse-setup">
            <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level {% if url_name == 'roles' %}in{% endif %}"
            id="collapse-setup">
            <li>
                <a href="{% url 'plugins:teamshifts:roles' organizer=request.organizer.slug event=request.event.slug %}"
                   {% if url_name == 'roles' %}class="active"{% endif %}>
                    <span class="sidebar-text">{% trans "Team Roles" %}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="sidebar-text">{% trans "Locations" %}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="sidebar-text">{% trans "Shifts" %}</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="{% url 'plugins:teamshifts:cfm_settings' organizer=request.organizer.slug event=request.event.slug %}"
           class="has-children {% if url_name == 'cfm_settings' or url_name == 'cfm_application_form' or url_name == 'question_create' or url_name == 'question_edit' %}active{% endif %}">
            <span class="fa fa-fw fa-bullhorn"></span>
            <span class="sidebar-text">{% trans "Call for Team Members" %}</span>
        </a>
        <a class="arrow" href="#" data-toggle="collapse" data-target="#collapse-cfm">
            <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level {% if url_name == 'cfm_settings' or url_name == 'cfm_application_form' or url_name == 'question_create' or url_name == 'question_edit' %}in{% endif %}"
            id="collapse-cfm">
            <li>
                <a href="{% url 'plugins:teamshifts:cfm_settings' organizer=request.organizer.slug event=request.event.slug %}"
                   {% if url_name == 'cfm_settings' %}class="active"{% endif %}>
                    <span class="sidebar-text">{% trans "Settings" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'plugins:teamshifts:cfm_application_form' organizer=request.organizer.slug event=request.event.slug %}"
                   {% if url_name == 'cfm_application_form' or url_name == 'question_create' or url_name == 'question_edit' %}class="active"{% endif %}>
                    <span class="sidebar-text">{% trans "Application Form" %}</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="{% url 'plugins:teamshifts:applications' organizer=request.organizer.slug event=request.event.slug %}"
           class="has-children {% if url_name == 'applications' %}active{% endif %}">
            <span class="fa fa-fw fa-user"></span>
            <span class="sidebar-text">{% trans "People" %}</span>
        </a>
        <a class="arrow" href="#" data-toggle="collapse" data-target="#collapse-people">
            <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level {% if url_name == 'applications' %}in{% endif %}"
            id="collapse-people">
            <li>
                <a href="{% url 'plugins:teamshifts:applications' organizer=request.organizer.slug event=request.event.slug %}"
                   {% if url_name == 'applications' %}class="active"{% endif %}>
                    <span class="sidebar-text">{% trans "Applicants" %}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="sidebar-text">{% trans "Members" %}</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#" class="has-children">
            <span class="fa fa-fw fa-calendar"></span>
            <span class="sidebar-text">{% trans "Shift schedule" %}</span>
        </a>
        <a class="arrow" href="#" data-toggle="collapse" data-target="#collapse-schedule">
            <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level" id="collapse-schedule">
            <li>
                <a href="#">
                    <span class="sidebar-text">{% trans "Shift grid" %}</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="{% url 'plugins:teamshifts:email_outbox' organizer=request.organizer.slug event=request.event.slug %}"
           class="has-children {% if url_name == 'email_compose' or url_name == 'email_outbox' or url_name == 'email_sent' or url_name == 'email_edit' or url_name == 'email_delete' or url_name == 'email_templates' or url_name == 'email_template_edit' %}active{% endif %}">
            <span class="fa fa-fw fa-envelope"></span>
            <span class="sidebar-text">{% trans "Emails" %}</span>
        </a>
        <a class="arrow" href="#" data-toggle="collapse" data-target="#collapse-emails">
            <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level {% if url_name == 'email_compose' or url_name == 'email_outbox' or url_name == 'email_sent' or url_name == 'email_edit' or url_name == 'email_delete' or url_name == 'email_templates' or url_name == 'email_template_edit' %}in{% endif %}"
            id="collapse-emails">
            <li>
                <a href="{% url 'plugins:teamshifts:email_outbox' organizer=request.organizer.slug event=request.event.slug %}"
                   {% if url_name == 'email_outbox' or url_name == 'email_edit' or url_name == 'email_delete' %}class="active"{% endif %}>
                    <span class="sidebar-text">{% trans "Outbox" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'plugins:teamshifts:email_compose' organizer=request.organizer.slug event=request.event.slug %}"
                   {% if url_name == 'email_compose' %}class="active"{% endif %}>
                    <span class="sidebar-text">{% trans "Compose" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'plugins:teamshifts:email_sent' organizer=request.organizer.slug event=request.event.slug %}"
                   {% if url_name == 'email_sent' %}class="active"{% endif %}>
                    <span class="sidebar-text">{% trans "Sent" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'plugins:teamshifts:email_templates' organizer=request.organizer.slug event=request.event.slug %}"
                   {% if url_name == 'email_templates' or url_name == 'email_template_edit' %}class="active"{% endif %}>
                    <span class="sidebar-text">{% trans "Templates" %}</span>
                </a>
            </li>
        </ul>
    </li>
{% endblock %}
