{% extends "teamshifts/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% if question %}{% trans "Edit question" %}{% else %}{% trans "New question" %}{% endif %}
    :: {{ request.event.name }}
{% endblock %}

{% block teamshifts_header %}
        <h1>{% if question %}{% trans "Edit question" %}{% else %}{% trans "New question" %}{% endif %}</h1>
{% endblock %}

{% block teamshifts_content %}
    <form action='' method='post' class='form-horizontal'>
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "Question details" %}</legend>
            {% bootstrap_field form.question layout='control' %}
            {% bootstrap_field form.help_text layout='control' %}
            {% bootstrap_field form.variant layout='control' %}
            {% bootstrap_field form.required layout='control' %}
            {% bootstrap_field form.options layout='control' %}
            {% bootstrap_field form.active layout='control' %}
        </fieldset>
        <div class='form-group submit-group'>
            <button type='submit' class='btn btn-primary btn-save'>
                {% trans "Save" %}
            </button>
            <a href='{% url "plugins:teamshifts:cfm_application_form" organizer=request.organizer.slug event=request.event.slug %}'
               class='btn btn-default btn-lg'>
                {% trans "Cancel" %}
            </a>
            {% if question %}
                <a href='{% url "plugins:teamshifts:question_delete" organizer=request.organizer.slug event=request.event.slug pk=question.pk %}'
                   class='btn btn-danger btn-lg pull-right flip'>
                    <span class="fa fa-trash"></span> {% trans "Delete" %}
                </a>
            {% endif %}
        </div>
    </form>
{% endblock %}
