{% extends "teamshifts/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block custom_header %}
  {{ block.super }}
  <script type='module' src='{% static "teamshifts/schedule_datetime.js" %}'></script>
{% endblock %}

{% block title %}{% trans "Compose email" %} :: {{ request.event.name }}{% endblock %}

{% block teamshifts_header %}
        <h1>{% trans "Compose email" %}</h1>
{% endblock %}

{% block teamshifts_content %}
    <p class='help-block'>
    {% blocktrans trimmed %}
      Write a message to your team members. You can filter recipients by role
      and application status. Send immediately or schedule it for later.
    {% endblocktrans %}
  </p>

  <form action='' method='post' class='form-horizontal'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}

    <fieldset>
      <legend>{% trans "Recipients" %}</legend>
      {% bootstrap_field form.status layout='control' %}
    </fieldset>

    <fieldset>
      <legend>{% trans "Content" %}</legend>
      {% bootstrap_field form.subject layout='control' %}

      <div class='form-group'
           data-email-preview-wrapper
           data-email-preview-url='{% url "plugins:teamshifts:email_template_preview" organizer=request.organizer.slug event=request.event.slug %}'>
        <label class='col-md-3 control-label'>{{ form.message.label }}</label>
        <div class='col-md-9'>
          <ul class='nav nav-tabs' role='tablist'>
            <li role='presentation' class='active'>
              <a data-toggle='tab' href='#compose_message_edit'>
                <i class='fa fa-pencil-square-o fa-fw'></i> {% trans "Edit" %}
              </a>
            </li>
            <li role='presentation'>
              <a data-toggle='tab' href='#compose_message_preview' data-email-preview-tab>
                <i class='fa fa-tv fa-fw'></i> {% trans "Preview" %}
              </a>
            </li>
          </ul>
          <div class='tab-content'>
            <div id='compose_message_edit' class='tab-pane fade in active'>
              {% bootstrap_field form.message show_label=False form_group_class='' %}
            </div>
            <div id='compose_message_preview' class='tab-pane'>
              <div class='mail-preview-group'>
                {% for locale in request.event.settings.locales %}
                  <div lang='{{ locale }}' class='mail-preview well'></div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{% trans "Delivery" %}</legend>
      {% bootstrap_field form.send_after layout='control' %}
    </fieldset>

    {% if preview_recipients is not None %}
      <fieldset>
        <legend>{% trans "Preview" %}</legend>
        <div class='alert alert-info'>
          {% blocktrans count count=preview_recipients|length trimmed %}
            {{ count }} recipient matches the selected filters.
          {% plural %}
            {{ count }} recipients match the selected filters.
          {% endblocktrans %}
        </div>
        {% if preview_recipients %}
          <ul>
            {% for user in preview_recipients|slice:':20' %}
              <li>{% if can_view_email %}{{ user.email }}{% endif %}{% if user.fullname %}{% if can_view_email %} ({% endif %}{{ user.fullname }}{% if can_view_email %}){% endif %}{% endif %}</li>
            {% endfor %}
            {% if preview_recipients|length > 20 %}
              <li>{% blocktrans with count=preview_recipients|length|add:'-20' %}and {{ count }} more{% endblocktrans %}</li>
            {% endif %}
          </ul>
        {% endif %}
      </fieldset>
    {% endif %}

    <div class='form-group submit-group'>
      <button type='submit' class='btn btn-default btn-save' name='action' value='preview' formnovalidate>
        {% trans "Preview recipients" %}
      </button>
      <button type='submit' class='btn btn-default btn-save' name='action' value='draft'>
        {% trans "Send to outbox" %}
      </button>
      <button type='submit' class='btn btn-primary btn-save' name='action' value='send'>
        {% trans "Send" %}
      </button>
    </div>
  </form>
{% endblock %}
