{% extends "teamshifts/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block custom_header %}
  {{ block.super }}
  <script type='module' src='{% static "teamshifts/schedule_datetime.js" %}'></script>
{% endblock %}

{% block title %}{% trans "Edit email" %} :: {{ request.event.name }}{% endblock %}

{% block teamshifts_header %}
        <h1>{% trans "Edit email" %}</h1>
{% endblock %}

{% block teamshifts_content %}
    {% if queue.sent_at %}
    <div class='alert alert-info'>
      {% blocktrans with timestamp=queue.sent_at %}
        This email was sent on {{ timestamp }} and cannot be edited.
      {% endblocktrans %}
    </div>
  {% endif %}

  <form action='' method='post' class='form-horizontal'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_field form.subject layout='control' %}

    <div class='form-group'
         data-email-preview-wrapper
         data-email-preview-url='{% url "plugins:teamshifts:email_template_preview" organizer=request.organizer.slug event=request.event.slug %}'>
      <label class='col-md-3 control-label'>{{ form.message.label }}</label>
      <div class='col-md-9'>
        <ul class='nav nav-tabs' role='tablist'>
          <li role='presentation' class='active'>
            <a data-toggle='tab' href='#outbox_message_edit'>
              <i class='fa fa-pencil-square-o fa-fw'></i> {% trans "Edit" %}
            </a>
          </li>
          <li role='presentation'>
            <a data-toggle='tab' href='#outbox_message_preview' data-email-preview-tab>
              <i class='fa fa-tv fa-fw'></i> {% trans "Preview" %}
            </a>
          </li>
        </ul>
        <div class='tab-content'>
          <div id='outbox_message_edit' class='tab-pane fade in active'>
            {% bootstrap_field form.message show_label=False form_group_class='' %}
          </div>
          <div id='outbox_message_preview' class='tab-pane'>
            <div class='mail-preview-group'>
              {% for locale in request.event.settings.locales %}
                <div lang='{{ locale }}' class='mail-preview well'></div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% bootstrap_field form.send_after layout='control' %}

    <div class='form-group'>
      <label class='col-md-3 control-label'>{% trans "Recipients" %}</label>
      <div class='col-md-9'>
        <ul class='list-unstyled'>
          {% for recipient in queue.recipients.all|slice:':30' %}
            <li>
              {% if can_view_email %}{{ recipient.email }}{% else %}{% trans "Hidden" %}{% endif %}
              {% if recipient.sent_at %}
                <span class='label label-success'>{% trans "sent" %}</span>
              {% elif recipient.error %}
                <span class='label label-danger'>{% trans "error" %}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% if not queue.sent_at %}
      <div class='form-group submit-group'>
        <div class='col-md-6 text-left'>
          <a href='{% url "plugins:teamshifts:email_delete" organizer=request.organizer.slug event=request.event.slug pk=queue.pk %}'
             class='btn btn-danger'>
            <i class='fa fa-trash'></i> {% trans "Delete" %}
          </a>
        </div>
        <div class='col-md-6 text-right'>
          <a href='{% url "plugins:teamshifts:email_outbox" organizer=request.organizer.slug event=request.event.slug %}'
             class='btn btn-default'>
            {% trans "Cancel" %}
          </a>
          <button type='submit' class='btn btn-primary btn-save'>{% trans "Save" %}</button>
        </div>
      </div>
    {% else %}
      <div class='form-group submit-group'>
        <a href='{% url "plugins:teamshifts:email_compose" organizer=request.organizer.slug event=request.event.slug %}?copy={{ queue.pk }}'
           class='btn btn-primary'>
          <i class='fa fa-copy'></i> {% trans "Copy to new email" %}
        </a>
        <a href='{% url "plugins:teamshifts:email_sent" organizer=request.organizer.slug event=request.event.slug %}'
           class='btn btn-default'>
          {% trans "Back" %}
        </a>
      </div>
    {% endif %}
  </form>
{% endblock %}
